@model PaginationModel
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" />

<h2>Pending Exercises</h2>
@foreach (var item in ViewBag.Exercises)
{
    <div>
        <h3>@item.Title</h3>
        <p>@item.Description</p>
        <button type="button" asp-action="Approve" asp-route-id="@item.Id">Approve</button>
    </div>
}
<page-link page-model="Model.PageViewModel" page-action="Index"></page-link>