<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SPORTWeb | @ViewBag.Title</title>
    <style>
        .rectangle-border {
            border: 2px solid black; /* Ширина и цвет рамки */
            padding: 20px;          /* Внутренний отступ */
            margin: 20px;           /* Внешний отступ */
        }
    </style>
</head>
<body>
    <header>
        <h1>SPORTWeb</h1>
        @await Component.InvokeAsync("ProfileHeaderComponent")
        @if (ViewBag.Message != null)
        {
            <p>@ViewBag.Message</p>
        }
    </header>
    <div>
        @RenderBody()
    </div>
    <footer>
        <p>© Kolerts 2024</p>
    </footer>
</body>
</html>