@model Workout
<br />

<form asp-action="Create">
    @Html.AntiForgeryToken()
    <label asp-for="Name">Enter your new workout's title:</label>
    <input type="text" asp-for="Name"/>

    <input type="submit" value="Create" />
</form>